* {
	margin: 0;
	padding: 0;
}
html,body {
	height: 100%;
}
body {
	font-size: 14px;
	font-family: "Arial","Microsoft YaHei","黑体",sans-serif;
	overflow: hidden;
}
.webvr-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	cursor: -webkit-grab;
}